%div{class: 'col-xs-12 col-md-4 col-lg-3'}
  %div{class: 'div-height-limited', id: 'step1'}
  %div{class: 'text-muted fetching', id: 'step1-loading'} Fetching data...
  %button{class: 'btn btn-primary btn-block init-hidden', id: 'step1-next'} Next Step &raquo;
