.navbar-inverse-no-radius {
  border-radius: 0;
}

.navbar-nav li a.link-is-current-page {
  color: #ffffff;
}

.list-header {
  font-weight: bold;
  font-size: 125%;
}

li.list-entry {
  font-weight: normal;
  font-size: 14px;
}

ul.list-height-limited {
  max-height: 128px;
  overflow-y: auto;
}

.div-height-limited {
  overflow-y: auto;
}

.fetching {
  text-align: center;
}

.init-hidden {
  display: none;
}

.jumbotron.non-container {
  border-radius: 1em;
}

.img-padded {
  padding: 12px;
  cursor: pointer;
  width: 152px;
  height: 152px;
  border-radius: 0.5em;
}

.img-padded:hover {
  background-color: #aabbff;
}

.step2-selected, .step2-selected:hover {
  background-color: #3838ff;
}

.step2-selected {
  cursor: default;
}

.boxed {
  border-radius: 0.5em;
}